<!DOCTYPE html>
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<title>YUĞ</title>
	<link href="{% static "css/main.css" %}" type="text/css" rel="stylesheet" />
	<link href="{% static "css/menu.css" %}" type="text/css" rel="stylesheet" />
	<link rel="icon" type="image/jpg" href="{% static "img/small_logo.jpg" %}" />
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script type="text/javascript" src="{% static "js/scripts.js" %}"></script>
	
	<!--[if IE 7]>
		<style type="text/css">
			#menu li ul { margin-left: -85px; margin-top: 43px; }
			#menu-bar-right #search-label { margin-top: 4px; margin-left: -176px; }
		</style>
	<![endif]-->
	<!--[if IE 8]>
		<style type="text/css">
			#menu li ul { margin-top: 25px; }
		</style>
	<![endif]-->
	<!--[if IE 9]>
		<style type="text/css">
			#menu li ul { margin-top: 25px; }
		</style>
	<![endif]-->
</head>
<body>
	<table cellpadding="0" cellspacing="0" id="wrapper">
		<tr>
			<td id="wrapper-left"></td>
			<td id="wrapper-center">
				<div id="header">
					<a href="#" id="logo-link"></a>
					<div id="langs">
						<a href="#">EN</a><a href="#">AZ</a>
					</div>
				</div>
				<div id="menu-bar">
					<ul id="menu">
						<li class="menu-item"><a href="#">Home</a></li>
						<li class="menu-item"><a href="#">History</a>
							<ul>
								<li class="menu-down-li"><a href="#">Ritual of yuglama</a></li>
								<li class="menu-down-li"><a href="#">Conception</a></li>
								<li class="menu-down-li"><a href="#">News &and; projects</a></li>
							</ul>
						</li>
						<li class="menu-item"><a href="#">Performances</a>
							<ul>
								<li class="menu-down-li"><a href="#">This week</a></li>
								<li class="menu-down-li"><a href="#">Next week</a></li>
								<li class="menu-down-li"><a href="#">This month</a></li>
							</ul>
						</li>
						<li class="menu-item"><a href="#">Staff</a>
							<ul>
								<li class="menu-down-li"><a href="#">Directors</a></li>
								<li class="menu-down-li"><a href="#">Performers</a></li>
								<li class="menu-down-li"><a href="#">Designers</a></li>
								<li class="menu-down-li"><a href="#">Administration</a></li>
							</ul>
						</li>
						<li class="menu-item"><a href="#">Contact us</a></li>
					</ul>
					<div id="menu-bar-right">
						<form action="#">
							<input id="search-box" type="text" /><label for="search-box" id="search-label">Search...</label>
						</form>
					</div>
				</div>
				<div id="content">
					<div id="content-left">
						<img src="{% static "pics/pic1.jpg" %}" alt="" width="127" height="149" />
					</div>
					<div id="content-right">
						<h1>History</h1>
						<p>Brief history of the Theatre</p>
						<p>YUG Theatre was founded as a training studio by Vagif Ibrahimoglu and Hasanaga Turabov on 18th of October, 1989. The studio had participated in a number of international festivals, such as International Youth Festival in Istanbul (Turkey, 1991) and FAJR festival (Iran, 1992).</p>
						<p>In 1992 the theatre gained state status and became the YUG State Theatre.</p>
						<p>YUG Theatre won Grand-Prix in 1995 on the experimental theatre festival and the Best Actor Prize in 1997 on TUGANLIK International theatre festival (Ufa, Russia).</p>
						<p>In 2003 Theatre received the restored place - architectural building of XIX century. During whole period of activity the theatre has produced more than 70 performances. Nowadays, our THEATRE has got its own theory: psychosophy, which is formed by Vagif Ibrahimoglu – Chief Director of the THEATRE.</p>
					</div>
				</div>
				<div id="footer">
					<span>YUĞ TEATRI &copy; {% now "Y" %}</span>
				</div>
			</td>
			<td id="wrapper-right"></td>
		</tr>
		<tr>
			<td id="wrapper-bottom-left"></td>
			<td id="wrapper-bottom"></td>
			<td id="wrapper-bottom-right"></td>
		</tr>
	</table>
</body>
</html>
