{% extends "web/base.html" %}

{% load staticfiles %}
{% load thumbnail %}
{% load humanize %}

{% block content %}
<div id="content-left">
	{% for photo in upcoming_performance.play.playphoto_set.all %}
		<img src="{{ photo.photo.x149.url }}" alt="{{ photo.title }}" width="{{ photo.photo.x149.width }}" height="{{ photo.photo.x149.height }}" />
	{% endfor %}
</div>
<div id="content-right">
	<h1>{{ upcoming_playinformation.title }}</h1>
	<p>Show time: <time>{{ upcoming_performance.show_time|naturalday }}</time></p>
	<p>Actors:
	{% for actor in upcoming_performance.actors.all %}
		{{ actor.name }}{% if not forloop.last %},{% endif %}
	{% endfor %}</p>
	{% autoescape off %}
    {{ upcoming_playinformation.body }}
	{% endautoescape %}
</div>
{% endblock content %}
