{% extends "web/base.html" %}

{% load staticfiles %}

{% block content %}
<div id="content-left">
	<img src="{% static "pics/pic1.jpg" %}" alt="" width="127" height="149" />
</div>
<div id="content-right">
	<h1>History</h1>
	<p>Brief history of the Theatre</p>
	<p>YUG Theatre was founded as a training studio by Vagif Ibrahimoglu and Hasanaga Turabov on 18th of October, 1989. The studio had participated in a number of international festivals, such as International Youth Festival in Istanbul (Turkey, 1991) and FAJR festival (Iran, 1992).</p>
	<p>In 1992 the theatre gained state status and became the YUG State Theatre.</p>
	<p>YUG Theatre won Grand-Prix in 1995 on the experimental theatre festival and the Best Actor Prize in 1997 on TUGANLIK International theatre festival (Ufa, Russia).</p>
	<p>In 2003 Theatre received the restored place - architectural building of XIX century. During whole period of activity the theatre has produced more than 70 performances. Nowadays, our THEATRE has got its own theory: psychosophy, which is formed by Vagif Ibrahimoglu – Chief Director of the THEATRE.</p>
</div>
{% endblock content %}